@use "./variables";
@use "./mixin";

/* ============ general styles  ============ */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: variables.$font-medium, Arial, Helvetica, sans-serif;
  background: #fafafa;
  font-size: 1.5rem;
}

.container {
  width: 128rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.app__wrapper {
  padding-top: 90px;
}

/* ============ Navbar style  ============ */
.nav {
  background: variables.$white-color;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06),
    0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
  transition: all 200ms ease-in;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.nav__wrapper {
  @include mixin.flexBox(space-between, center);
  flex-direction: row-reverse;
  padding: 1rem 0;
}
.nav-content-right {
}
.nav-content-right {
  cursor: pointer;
  .nav-content-right__profile {
    @include mixin.flexBox(center, center);
    transition: background 200ms ease-in;
    padding: 0.5rem;
    border-radius: 2.4rem;

    &:hover {
      background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.04);
    }
    span {
      padding: 0 0.5rem;
    }
  }
}
.nav-content-right__img {
  @include mixin.widthAndHeight(4.5rem, 4.5rem);
  border-radius: 100%;
  object-fit: cover;
}
.nav-content-left {
}
.nav-content-left__icon {
  @include mixin.widthAndHeight(2.5rem, 2.5rem);
  cursor: pointer;
}

/* ============  style statistics  ============ */

.statistics {
  margin-top: 5rem;
}
.statistics__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.6rem;
}
.statistics-item {
  @include mixin.flexBox(space-between, center);
  background-color: variables.$white-color;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: variables.$main-shadow;
}
.statistics-item__content-left {
  @include mixin.flexBox(center, center);
}
.statistics-item__icon {
  @include mixin.widthAndHeight(3.5rem, 3.5rem);
  color: variables.$primary-color;
}
.statistics-item__information {
  margin-left: 1rem;
  span {
    color: rgba(52, 49, 76, 0.54);
    font-size: 1.4rem;
  }
  h6 {
    color: variables.$primary-color;
    font-size: 1.6rem;
  }
}
.statistics-item__content-right {
}
.statistics-item-icon__btn {
  border: none;
  background: transparent;
  padding: 0.5rem 0.6rem;
  transition: background 200ms ease-in;
  border-radius: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
.statistics-item__arrow {
  @include mixin.widthAndHeight(2.3rem, 2.3rem);
  color: rgba(0, 0, 0, 0.54);
}

/* ============  style products table  ============ */
.products {
  margin-top: 5rem;
  box-shadow: variables.$main-shadow;
}

.products__wrapper {
  background-color: variables.$white-color;
  padding: 2rem;
  border-radius: 0.8rem;
}
.products__title {
  margin: 1.6rem 0;
}
.products-table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}
.products-table__heading {
  border-bottom: 1px solid #eee;
  tr {
    th {
      padding-bottom: 0.8rem;
    }
  }
}
.products-table__title {
  &:nth-child(1) {
    text-align: left;
    padding-left: 0.8rem;
  }
}
.products-table-body {
}

.products-table-body__row {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06);
}
.products-table-body__column {
  padding: 1rem 0;
}
.products-table-body__column-img {
  @include mixin.flexBox("", center);
  span {
    padding-left: 1.2rem;
  }
}
.products-table__img {
  @include mixin.widthAndHeight(5rem, 5rem);
}
.products-table-body__column-actions {
}
.products-table__icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.products-table__icon {
  @include mixin.widthAndHeight(2rem, 2rem);
}
.products-table__icon--edit {
  color: variables.$primary-color;
}
.products-table__icon--delete {
  color: red;
}
