html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: Roboto-regular;
  src: url(./Roboto-Regular-4e147ab6.ttf), url(./Roboto-Regular-db83e87f.woff),
    url(./Roboto-Regular-56de0d03.woff2);
}
@font-face {
  font-family: Roboto-medium;
  src: url(./Roboto-Medium-9d0d55a3.ttf), url(./Roboto-Medium-405a756e.woff),
    url(./Roboto-Medium-2571d35a.woff2);
}
@font-face {
  font-family: Roboto-bold;
  src: url(./Roboto-Bold-ec685a46.ttf), url(./Roboto-Bold-3dffe701.woff),
    url(./Roboto-Bold-195a79c3.woff2);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: Roboto-medium, Arial, Helvetica, sans-serif;
  background: #fafafa;
  font-size: 1.5rem;
  overflow-x: hidden;
}
.container {
  width: 128rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.overlay {
  background-color: #0000004d;
  width: 100%;
  height: 110%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 45;
}
.app__section {
  padding-top: 70px;
  padding-bottom: 35px;
}
.app__wrapper,
.nav__wrapper {
  padding-left: 26.5rem !important;
}
.sidebar--close .app__wrapper,
.sidebar--close .nav__wrapper {
  padding-left: 0 !important;
}
.btn-md {
  color: #fff;
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn-md:hover {
  opacity: 0.92;
}
.table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  min-width: 44rem;
}
.table__heading {
  border-bottom: 1px solid #eee;
}
.table__heading tr th {
  padding-bottom: 0.8rem;
}
.table__title:nth-child(1) {
  text-align: left;
  padding-left: 0.8rem;
}
.table-body__row {
  box-shadow: 0 5px 5px -3px #0000000f;
}
.table-body__column {
  padding: 1rem 0;
}
.table-body__column-img {
  display: flex;
  justify-content: "";
  align-items: center;
}
.table-body__column-img span {
  padding-left: 1.2rem;
}
.table__img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.table__icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.table__icon {
  width: 2rem;
  height: 2rem;
}
.table__icon--edit {
  color: #1976d2;
}
.table__icon--delete {
  color: red;
}
.nav {
  background: #ffffff;
  box-shadow: 0 5px 5px -3px #0000000f, 0 8px 10px 1px #0000000b,
    0 3px 14px 2px #00000009;
  transition: all 0.2s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 40;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 1rem 0;
}
.nav-content-right {
  cursor: pointer;
}
.nav-content-right .nav-content-right__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s ease-in;
  padding: 0.5rem;
  border-radius: 2.4rem;
}
.nav-content-right .nav-content-right__profile:hover {
  background-color: #0000000a;
}
.nav-content-right .nav-content-right__profile span {
  padding: 0 0.5rem;
}
.nav-content-right__img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  object-fit: cover;
}
.nav-content-left__icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.statistics {
  margin-top: 5rem;
}
.statistics__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.6rem;
}
.statistics-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 3px 3px -2px #0000000f, 0 3px 4px #0000000a, 0 1px 8px #0000000a;
}
.statistics-item__content-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics-item__icon {
  width: 3.5rem;
  height: 3.5rem;
  color: #1976d2;
}
.statistics-item__information {
  margin-left: 1rem;
}
.statistics-item__information span {
  color: #34314c8a;
  font-size: 1.4rem;
}
.statistics-item__information h6 {
  color: #1976d2;
  font-size: 1.6rem;
}
.statistics-item-icon__btn {
  border: none;
  background: transparent;
  padding: 0.5rem 0.6rem;
  transition: background 0.2s ease-in;
  border-radius: 100%;
}
.statistics-item-icon__btn:hover {
  background-color: #0000000a;
}
.statistics-item__arrow {
  width: 2.3rem;
  height: 2.3rem;
  color: #0000008a;
}
.products {
  margin-top: 5rem;
  box-shadow: 0 3px 3px -2px #0000000f, 0 3px 4px #0000000a, 0 1px 8px #0000000a;
}
.products__heading,
.products__wrapper {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.8rem;
}
.products__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__title {
  margin: 1.6rem 0;
  font-size: 1.8rem;
}
.products__btn {
  background-color: #1976d2;
}
.sidebar {
  background: linear-gradient(
    to bottom,
    rgba(34, 42, 69, 0.96),
    rgba(34, 42, 69, 0.96)
  );
  color: #fff;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 26rem;
  z-index: 99;
}
.sidebar--open {
  left: 0;
}
.sidebar--close {
  left: -26rem;
}
.sidebar__title {
  font-size: 2.2rem;
  border-bottom: 1px solid #eee;
  padding: 1.6rem;
}
.sidebar-menu {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 0 1.6rem;
  margin-top: 1.5rem;
}
.sidebar-menu__item {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.sidebar-menu__link {
  color: inherit;
}
.users-statistics {
  margin-top: 5rem;
}
.users-statistics__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-statistics-item {
  background-color: #fff;
  color: #34314c;
  padding: 1.6rem;
  border-radius: 0.8rem;
  width: 49%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 3px -2px #0000000f, 0 3px 4px #0000000a, 0 1px 8px #0000000a;
}
.users-statistics-item__icon {
  display: flex;
  justify-content: "";
  align-items: center;
}
.users-statistics-item__icon h6 {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: transparent;
}
.users-statistics-item__icon span {
  padding: 1rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-statistics__icon--trending {
  background-color: #daf4e9;
  color: #08ad6c;
}
.users-statistics__icon--star {
  color: #ff3d57;
  background-color: #fcc2ca;
}
.users-statistics__icon {
  width: 2.8rem;
  height: 2.8rem;
}
.users-statistics__count {
  margin-top: 2rem;
  font-size: 2.5rem;
}
.users-statistics-item__percent {
  font-size: 1.6rem;
  background-color: transparent;
}
.form-container {
  margin-top: 5rem;
}
.form__title {
  font-size: 2rem;
  margin: 1rem 0;
}
.form__wrapper {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 0.8rem;
}
.from {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.form-input {
  width: 49%;
  margin-top: 1.5rem;
}
.from__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #f4f4f4;
  font-size: 1.5rem;
}
.from__input::placeholder {
  font-family: Roboto-regular;
}
.form__upload {
  width: 8rem;
  height: 8rem;
  margin-left: 1rem;
}
.form__upload-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form__upload--img {
  width: 8rem;
  height: 8rem;
  margin-left: 1rem;
}
.form__upload--message {
  text-align: center;
  margin: 1rem 0;
}
.form__upload--message span {
  color: #eb5151;
}
.form-input--file {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}
.drop-container:hover {
  box-shadow: 0 3px 3px -2px #0000000f, 0 3px 4px #0000000a, 0 1px 8px #0000000a;
  border-color: #111;
}
.drop-container:hover .drop-title {
  color: #222;
}
.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input__icon {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form-input__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__btn {
  background-color: #1976d2;
  border: none;
  color: #fff;
  border-radius: 0.8rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer !important;
  margin: 1rem 0;
  font-family: Roboto-medium;
}
.form__btn.form__btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.form-input__error-message {
  padding: 1rem 0;
  color: #eb5151;
}
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999999;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-loader--active {
  display: flex;
}
.page-loader--inactive {
  display: none;
}
.spinner-loader {
  color: #5867dd;
  width: 3rem;
  height: 3rem;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.2rem solid #5867dd;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spinner-animation 0.75s linear infinite;
}
@keyframes spinner-animation {
  to {
    transform: rotate(-360deg);
  }
}
.modal {
  background-color: #fff;
  box-shadow: 0 3px 3px -2px #0000000f, 0 3px 4px #0000000a, 0 1px 8px #0000000a;
  border-radius: 0.8rem;
  padding: 1.6rem;
  z-index: 9999;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32.6rem;
}
.delete-modal__title {
  font-size: 1.6rem;
  text-align: center;
}
.delete-modal__buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-modal__btn {
  margin-right: 1.5rem;
  background-color: #1976d2;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
  .app__wrapper,
  .nav__wrapper {
    padding-left: 21rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .app__wrapper,
  .nav__wrapper {
    padding-left: 16rem !important;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .app__wrapper,
  .nav__wrapper {
    padding-left: 0 !important;
  }
  .overlay {
    background-color: #0000004d;
    width: 100%;
    height: 110%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 45;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .products__title,
  .statistics-item__information h6 {
    font-size: 1.5rem;
  }
  .users-statistics__wrapper {
    flex-direction: column;
  }
  .users-statistics-item {
    margin-bottom: 1.6rem;
    width: 100%;
  }
  .users-statistics-item:last-child {
    margin-bottom: 0;
  }
  .form-input {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .btn-md {
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
  }
  .delete-modal__btn {
    padding: 0.5rem 1rem !important;
  }
  .products__title {
    font-size: 1.4rem;
  }
  .statistics__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .products__heading {
    margin: 0.5rem 0;
  }
  .products__heading,
  .products__wrapper,
  .users__heading,
  .users__wrapper {
    padding: 1.3rem;
    overflow-x: auto;
  }
  .nav-content-right .nav-content-right__profile span {
    padding-right: 0.8rem;
    font-size: 1.4rem;
  }
  .drop-title {
    font-size: 1.6rem;
  }
  .form-input__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.6rem;
  }
  .form__upload {
    width: 6rem;
    height: 6rem;
    margin-left: 0.6rem;
  }
}
@media only screen and (max-width: 360px) {
  .modal {
    width: 27.5rem;
  }
}
